
/*总体div样式*/
.demo-container {
    padding: 72px 94px 0 94px;
    text-align: center;
    color: #3e3e3e;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/*图像识别样式*/
h2 {
    font-size: 36px;
    padding-bottom: 7px;
    text-align: center;
    color: #fff;
}
h4{color:#ffe}
   
  

/*Response JSON样式*/
.demo-container h3 {
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 0 26px;
}
/*下拉图标向右样式*/
.demo-container .handle-result .title .arrow-right {
    background: url(../../images/PAAF/arrow-right.png) no-repeat 0;
}
/*下拉图标向下样式*/
.demo-container .handle-result .title .arrow-down {
    background: url(../../images/PAAF/arrow-down.png) no-repeat 0;
}
/*下拉图标样式*/
.demo-container .handle-result .title .arrow {
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    position: absolute;
}
/*左边div样式*/
.demo-container .handle-img {
    float: left;
    width:65%;
}
/*图框样式*/
.demo-container .handle-img .ge_pic_icon_Infor {
    zoom: 1;
    width: 100%;
    height: 528px;
    background-color: #e4e4e4;
    text-align: center;
    position: relative;
    overflow: auto;
}
/*图片在图框中的位置居中*/
.demo-container .handle-img .ge_pic_icon_Infor #img {
    vertical-align: middle;
}
/*本地上传与检测按钮框*/
.search-box {
    zoom: 1;
    margin: 20px 0 15px;
}

.upload-img {
    position: relative;
    width: 20%;
    height: 40px;
    line-height: 36px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #4c4c4c;
    border: 1px solid #cacaca;
    background-color: #fff;
    font-size: 14px;
    /*float: right;*/
    left: -16px;
}
.demo-container .handle-img .search-box .icon-upload {
    margin-right: 10px;
    width: 20px;
    height: 24px;
    background: url(../../images/PAAF/icon-upload.png) no-repeat 0;
}
/*.icons .icon-upload {*/
    /*width: 20px;*/
    /*height: 24px;*/
    /*background-image: url(/images/PAAF/icon-upload.png);*/
/*}*/
.icons {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.demo-container .handle-img .search-box .upload-img span {
    vertical-align: middle;
}
#file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 137px;
    height: 42px;
    cursor: pointer;
}
.search-btn {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #379edf;
    background-color: #379edf;
    font-size: 14px;
    width: 15%;
    height: 40px;
    /*float: right;*/
}
.search-input {
    border: 1px solid #59b1f5;
    width: 60%;
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    float: right;
}
/*文本框样式*/
.demo-container .handle-result {
    float: right;
    text-align: left;
    width:30%;
}
.demo-container .handle-result .resp-json {
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #cacaca;
    overflow-y: scroll;
    /*margin-bottom: 18px;*/
    padding: 14px;
    height: 535px;
}
.demo-container .handle-result .title {
    position: relative;
    zoom: 1;
    background: #fbfbfb;
    top: 1px;
    cursor:pointer;
}
.demo-container .handle-result .title .arrow-down {
    /*background: url(../images/demo/arrow-down.png) no-repeat 0;*/
}
.demo-container .handle-result .title .arrow {
    float: left;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 7px;
}
.demo-container .handle-result .resp-json textarea {
    width: 508px;
    height: 570px;
    resize: none;
    background: #fbfbfb;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    line-height: 16px;
}

.resp-json-container {
    height: 426px;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 0px;
    overflow:hidden;
}
/*/!* 滚动槽 *!/*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #379EDF;
    border-radius: 10px;
}
/*/!* 滚动条滑块 *!/*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(55, 158, 223, 0.9);
    -webkit-box-shadow: inset 0 0 2px #379EDF;
}
::-webkit-scrollbar-thumb:window-inactive {
    background:#379EDF;
}

@media (max-width:768px){
    .demo-container {
        padding: 72px 0;
    }
    h2 {
        font-size: 25px;
    }
    .demo-container .handle-img {
        width: 100%;
        padding: 0 10px;
    }
    .upload-img {
        width: 15%;
    }
    .search-btn {
        width:15%;
    }
    .demo-container .handle-result {
        width: 100%;
        border-left: 5px solid #1c2b36;
        border-right: 5px solid #1c2b36;
    }
}


@media (max-width:415px){
    .demo-container {
        padding: 72px 0;
    }
    h2 {
        font-size: 25px;
    }
    .demo-container .handle-img {
        width: 100%;
        padding: 0 10px;
    }
    .upload-img {
        width: 35%;
    }
    .search-btn {
        width:30%;
    }
    .demo-container .handle-result {
        width: 100%;
        border-left: 10px solid #1c2b36;
        border-right: 10px solid #1c2b36;
    }
    .demo-container .handle-img .ge_pic_icon_Infor {
        height: 360px;
    }
}