body{
	margin:0px;
}
.registerArea{
    width:340px;
    margin:140px auto;
    text-align:center;
}
.registerArea h1{
    color:#c1272c;
}
.registerArea .userItem{
    position:relative;
    height:80px;
    /*border:1px solid red;*/
    margin-top:10px;
}
.registerArea .userItem input{
    width:100%;
    border:none;
    border-bottom:1px solid #aaa;
    outline: none;
    margin-top:30px;
    font-size:18px;
    text-indent: 8px;

}
label{
    position:absolute;
    top:28px;
    left:8px;
    font-size:16px;
    color:#aaa;
    font-weight:normal;
    transition:all .3s ease;
}
label span{
    color:red;
}
.labelChange{
    top:15px;
    font-size:12px;
    color:red;
}
a{
    text-decoration:none;
    color:#000000;
}

.registerArea .register{
    display:inline-block;
    background:#c1272c;
    border-radius:2px;
    border:1px solid #c1272c;
    width:100%;
    height:44px;
    line-height:44px;
    color:#fff;
    font-size:16px;
    margin:10px auto 20px;
    transition: all .5s ease-out;;

}
.registerArea .register:hover{
    background:transparent;
    text-decoration:none;
    color:#000;
}
.registerArea p{
    font-size:14px;
    text-align: left;
    margin-top:40px;
}
.registerArea p a{
    color:#c1272c;
}
.registerArea p a:hover{
    text-decoration:underline;
}
.registerArea .login{
    margin-top:0px;
}
@media (max-width: 400px) {
    .registerArea{
        width:95%;
    }
}
.foot-title{
    box-sizing: border-box;
}
.foot-title div{
    box-sizing: border-box;
}