/*tfoot  start*/
#tfoot{
    background:#fff;
    overflow:hidden;
    border-top:1px solid #f5f5f5;
    width:100%;
}
.foot-title{
    color:#000;
    background:#fff;
    width:60%;
    padding-left:4%;
    float:left;
    min-height:253px;

}
.foot-title div{
    display:inline-block;
    padding:10px;
    margin-top:60px;
    text-align:center;
    width:24.5%;
    vertical-align: top;

}
.foot-title div ul{
    margin-top:20px;
    padding-left:0px;
}
.foot-title div ul li{
    margin-top:12px;
    color:gray;
    list-style:none;
}

.erWeiMa{
    /*width:200px;*/
    /*height:200px;*/
    width:40%;
    height:253px;
    float:left;
    background:#fff;
    text-align:center;
    padding-top:30px;
    vertical-align: bottom;
}
.erWeiMa div{
    width:160px;
    margin:0 auto;
}
.erWeiMa div img{
    width:100%;
}

.foot-copy{
    background:#2a2a2a;
    color:#fff;
    padding:20px 0px;
    text-align:center;
    width:100%;
    float:left;
}

@media (max-width: 768px) {
    .foot-title{
        width:70%;
        float:none;
        margin:0 auto;
        padding-left:0px;
    }
    .foot-title div{
        width:50%;
    }
    .erWeiMa{
        width:100%;

    }
}

/*tfoot  end*/
